@import url('/library/bootstrap-5.3.8-dist/css/bootstrap.min.css');
@import url('/library/bootstrap-icons-1.13.1/bootstrap-icons.min.css');
@import url('/css/font.css');

:root {
    --bs-body-font-family: "Montserrat",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-primary: #01afd8;
    --bs-secondary: #49484b;
    --bg-warning: #fc8c06;
    --bg-info: #a3e6f6;
    --bs-primary-rgb: 1, 175, 216;
    --bs-secondary-rgb: 73, 72, 75;
    --bs-warning-rgb: 252, 140, 6;
    --bs-success-rgb: 0, 204, 0;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #038cab;
    --bs-btn-hover-border-color: #038cab;
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #038cab;
    --bs-btn-active-border-color: #038cab;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #002831;
    --bs-btn-disabled-border-color: #002831;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #383838;
    --bs-btn-hover-border-color: #383838;
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #383838;
    --bs-btn-active-border-color: #383838;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #272222;
    --bs-btn-disabled-border-color: #272222;
}

body {
    background-image: url('/asset/background/bg-headline-2.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#headline {
    background-image: url('/asset/background/bg-headline-7.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.navbar:is(:hover, :focus-within) {
  background: white;
}

/* mengatur flexible image */

.headline-icon {
    width: 100%;
    max-width: 50px;
    height: auto;
}

#product-1 {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* mengatur custom style sesuai breakpoint bootstrap */
@media (min-width: 576px) {
    .headline-icon {
        width: 100%;
        max-width: 75px;
        height: auto;
    }
}

/* mengatur custom bg bahan */
#bahan .bg-img-custom {
    background-image: url('/asset/background/bg-bahan.svg');
    background-size: cover;
    background-position: center;
}

#manfaat.bg-img-custom {
    background-image: url('/asset/background/bg-manfaat.svg');
    background-size: cover;
    background-position: center;
}

#permasalahan.bg-img-custom {
    background-image: url('/asset/background/bg-permasalahan.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hasil-penggunaan.bg-img-custom {
    background-image: url('/asset/background/bg-hasil-penggunaan.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* mengatur flex bahan */
#bahan .card {
    flex: 1;
}

/* mengatur warna panah bawaan bootstrap */
.accordion-button.bg-primary {
    color: white;
}

.accordion-button.bg-primary::after {
    filter: invert(1);
}

/* mengatur carousel agar memiliki tinggi seimbang */
.carousel-caption {
    position: absolute;
    inset: 0;                 /* top:0 right:0 bottom:0 left:0 */
    display: flex;
    align-items: center;      /* vertikal */
    justify-content: center;  /* horizontal */
    text-align: center;
}

/* mengatur warna khusus bintang */
.text-bintang {
    --bs-text-opacity: 1;
    color: rgba(255, 201, 23, var(--bs-text-opacity)) !important;
}